<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link rel="stylesheet" href="css/custom.css" />
    <script
      src="https://kit.fontawesome.com/d1af3723bb.js"
      crossorigin="anonymous"
    ></script>

    <title>Dashboard | Alabama Powersports</title>
  </head>
  <body>
    <!-- <img class="logo" src="../img/logo.svg" alt="logo" width="60" height="60" />
    <nav class="navbar navbar-light bg-light">
      <ul>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/inventory">Inventory</a>
        </li>
        <li>
          <a href="/upload">Link</a>
        </li>
      </ul>
    </nav> -->
    <header><%- include ("_navbar") %></header>
  </body>
</html>
