<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    <link rel="stylesheet" href="css/custom.css" />

    <!-- <script
      src="https://kit.fontawesome.com/d1af3723bb.js"
      crossorigin="anonymous"
    ></script> -->

    <title>Admin Dashboard | Alabama Powersports</title>
  </head>
  <body>
    <!-- NAVBAR  -->
    <nav class="navbar fixed-bottom navbar-light bg-dark">
      <div class="container text-dark">
        <img
          src="./images/logo.svg"
          alt="logo"
          width="60"
          height="60"
          class="d-inline-block align-text-center"
        />
      </div>

      <button id="inventory">Inventory</a>
    </nav>
    <div id="app"></div>
    <script src="./js/dashboard.js"></script>
  </body>
</html>
